# Archivos y carpetas del sistema operativo
.DS_Store
Thumbs.db

# Archivos temporales y de logs
*.log
*.pyc
*.swp
*.class
.buildlog/
.history

# Carpetas y archivos de configuración de editores/IDEs
.idea/
*.iml
*.ipr
*.iws
.atom/
.svn/
.swiftpm/
.vscode/
migrate_working_dir/

# Archivos y carpetas generados por Flutter/Dart/Pub
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
**/build/
**/doc/api/
**/ios/Flutter/.last_build_id

# Archivos de símbolos y ofuscación
app.*.symbols
app.*.map.json

# Salidas de compilación de Android Studio
/android/app/debug
/android/app/profile
/android/app/release
